*{
    margin: 0;
    padding: 0;
}

#veld {
    width: 1450px;
    height: 700px;
    border: solid 5px black;
    margin: 10px;
    box-sizing: border-box;
}

#ball{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    position: absolute;
    
}

#player1{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 350px;
    background-color: blue;
    border: solid 2px lightblue;
    transition: 0.2s;
}

